:root {
	--color-background: #fff;
	--color-background-1: #fff;
	--color-background-1-hover: #f8f8f8;
	--color-background-2: #fff;
	--color-background-2-hover: #f8f8f8;
	--color-foreground: #000;
	--color-foreground-faint: #888;
	--color-border: #ccc;
	--color-shadow: #e0e0e0;
	--color-shadow-strong: #0004;
}

:root.dark {
	--color-background: #000;
	--color-background-1: #181818;
	--color-background-1-hover: #282828;
	--color-background-2: #202020;
	--color-background-2-hover: #303030;
	--color-foreground: #fafafa;
	--color-foreground-faint: #888;
	--color-border: #383838;
	--color-shadow: transparent;
	--color-shadow-strong: #000a;
}

html {
	height: 100%;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	height: 100%;
	overflow-y: scroll;
	background: var(--color-background);
	color: var(--color-foreground);
	word-wrap: break-all;
}

#app {
	max-width: 900px;
	box-sizing: border-box;
	margin: 0 auto;

	display: flex;
}

.app-section {
	padding: 30px 15px;
}

#sidebar {
	flex: 0 0 200px;
	align-self: flex-start;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: sticky;
	top: 0;
	box-sizing: border-box;
	height: 100vh;
}

#sidebar > * {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: .7em;
}

.sidebar-row {
	display: flex;
	gap: .7em;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	display: flex;
	align-items: center;
	gap: .7em;
	font-size: 1.2em;
}

a {
	color: currentcolor;
	text-decoration: none;
}

.text-link:link {
	text-decoration: underline;
}

.text-link:visited {
	color: var(--color-foreground-faint);
}

input, button {
	padding: 6px;
	border-radius: 6px;
	border: 1px solid var(--color-border);
	background: var(--color-background-1);
	color: inherit;
}

button {
	text-align: center;
	transition: 100ms linear background-color;
}

button:hover {
	background: var(--color-background-1-hover);
}

button .lucide, button i[data-lucide] {
	display: block;
}

i[data-lucide] {
	display: inline-block;
	width: 16px;
	height: 16px;
}

:root:not(.dark) #theme-button-dark { display: none; }
:root.dark #theme-button-light { display: none; }

#search-input {
	width: 100%;
	box-sizing: border-box;
}

#mobile-search-input {
	display: none;
}

main {
	flex: 1 0 0;
	height: 100%;
	min-width: 350px;
}

#words {
	display: flex;
	flex-direction: column;
	gap: .7em;
}

#words:empty::before {
	content: 'No words found. Check the selected categories.';
	display: block;
	font-weight: bold;
}

.entry {
	display: flex;
	gap: .5em;
}

.entry-main {
	flex: 1 0 0;
	
	display: flex;
	background: var(--color-background-1);
	border: 1px solid var(--color-border);
	border-radius: 6px;
	box-shadow: 0 3px 6px var(--color-shadow);
}

.entry-hint {
	flex: 0 0 150px;
	color: var(--color-foreground-faint);
	font-size: 80%;
}

.entry-hint strong {
	color: var(--color-foreground);
}

.entry-term {
	flex: 1 0 0;
	display: flex;
	flex-direction: column;
	gap: .5em;
	padding: .7em .9em;
}

.entry-term-antonym {
	border-left: 1px solid var(--color-border);
}

.entry-word, .entry-definition {
	margin: 0;
}

.entry-title {
	display: flex;
	gap: .6em;
	align-items: baseline;
}

.entry-word {
	font-size: 1.1em;
}

#category-inputs {
	padding: 15px;
	border-radius: 6px;
	border: 1px solid var(--color-border);
	background: var(--color-background-1);

	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: .5em;
}

#category-inputs > h3 {
	font-size: 1.1em;
}

#category-inputs-body {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: .3em;
}

#category-inputs-body > div {
	display: flex;
	align-items: baseline;
	gap: .5em;
}

#category-inputs-body label {
	flex: 1 0 0;
}

@media (max-width: 700px) {
	#app {
		margin-top: calc(1lh + 44px);
		flex-direction: column;
	}

	.app-section {
		padding: 20px 15px;
	}

	#sidebar {
		position: static;
		align-self: stretch;
		flex: 0;
		gap: .7em;
		border-top: 1px solid var(--color-border);
		border-bottom: 1px solid var(--color-border);
		box-shadow: 0 2px 5px var(--color-shadow);
		overflow: visible;
	}

	#mobile-search-input {
		display: block;
		position: fixed;
		top: 15px;
		left: 25px;
		right: 25px;
		box-shadow: 0 2px 8px var(--color-shadow-strong);
	}

	#search-input {
		display: none;
	}

	.entry, .entry-main {
		flex-direction: column;
	}

	.entry-hint {
		flex: 0;
	}

	.entry-hint:empty {
		display: none;
	}

	.entry-term-antonym {
		border-left: 0;
		border-top: 1px solid var(--color-border);
	}
}